 h1
{
 	font-family: 'Kaushan Script'; !important
 }
 .quotes
 {
 	margin-left: auto;
 	margin-right: auto;
 	width:50%;
 	text-align:center;
 	border:2px black solid;
 	padding:30px;
 	background-color: white;!important
 	font-family: 'sans-serif';
 	border-radius:30%;
 }
 body, .container {
    transition: background-color 3s;
    font-family: 'Raleway';
}
hr{
	width:30%;
	color:black;
	border-width: 2px;
}